*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container{
    background-color: yellowgreen;
    height: 80px;
    display: flex;
    justify-content: end;
}
.header-content{
    background-color: rgb(179, 167, 167);
    /* padding: 20px; */
}
/* header */

/* main */
.main-container{
    height:calc(100vh - 160px);
    overflow: auto; 
    background-color: brown;
   
}
.container{
    background-color: aqua;
}

.img-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: blue;
}
.box-img{
    width: calc((100% / 7 )  - 10px);
    margin-right: 5px;
    margin-bottom: 10px;
}
.box-img img{
    display: block;
    width: 100%;
}
/* main */

/* footer */
.footer-container{
    background-color: rgb(130, 28, 255);
    height: 80px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.footer-content span{
    margin-right: 10px;
}